---
layout: layouts/layout.njk
title: Home
---
{% include "masthead.njk" %}

<div class="govuk-width-container app-site-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l govuk-!-font-weight-bold">Notes</h2>
        <p class="govuk-body">Updates and details on our progress, events and more.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="/notes/" class="govuk-link govuk-!-font-weight-bold">Read notes</a></p>
      </div>

      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h2 id="support" class="govuk-heading-l">Support</h2>
        <p class="govuk-body">
          The Engineering Careeer Framework is a product in the making by the <a href="https://github.com/orgs/ministryofjustice/teams/software-development-leaders/members" class="govuk-link">software development leadership team</a>.
          If you’ve got a question, idea or suggestion you can:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
        <li>
          email 
          <a href="mailto:engineering-career-framework-support@digital.justice.gov.uk" class="govuk-link" data-hsupport="email">
            engineering-career-framework-support@digital.justice.gov.uk
          </a>
        </li>
        <li>
          get in touch using the 
          <a href="https://mojdt.slack.com/app_redirect?channel=engineering-career-framework" class="govuk-link" data-hsupport="slack">
            #engineering-career-framework channel on MoJ Digital and Technology Slack</a>
        </li>
        </ul>
      </div>

      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
      </div>

      <div class="govuk-grid-column-two-thirds govuk-!-mb-r4">
        <h2 class="govuk-heading-l">Roadmap</h2>
        <p class="govuk-body">
          See what the software development leadership team is working on now, next and later on
          <a href="#" class="govuk-link">MoJ Engineering Career Framework Roadmap (on GitHub)</a>.
        </p>
      </div>

    </div>
  </div>
</div>
