<div class="app-masthead">
  <div class="govuk-width-container app-site-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl app-masthead__title">Software Development Career Framework</h1>
            <p class="app-masthead__description">We want MoJ Digital and Technology to be a place where software developers can learn and grow, whilst meeting our mission to modernise, maintain and make better digital services for the justice system.</p>
        </div>
    </div>
  </div>
</div>
