<div class="app-masthead">
  <div class="govuk-width-container app-site-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl app-masthead__title">Engineering Career Framework</h1>
            <p class="app-masthead__description">We want MoJ D&T to be a place that all engineers can learn and grow, and be supported no matter what level they join us at, or how they want to shape their careers.</p>
        </div>
    </div>
  </div>
</div>
